/* Some styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.hero{
    background-image: url(../Assets/Hero-bg.png);
    background-color: #f4f4f8;
    padding: 70px 20px;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding:0 30px 70px; 
}
.logo{
    font-weight: bold;
    font-size: 25px;
    color: #4E47FF;
    padding: 10px 20px;
}
.hero-content{
    margin-top: 50px;
}
.hero-content h1{
    font-size: 42px;
    color: #222;
    margin-bottom: 15px;
}
.signup, .primary-btn{
    background-color: #4338ca;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
}

.see-it-action{
    background-color: #f5f7ff;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}
.action-content{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
}
.action-text{
    flex: 1;
    min-width: 300px;
}
.action-text h2{
    font-size: 32px;
    color: #1a1a1a;
    margin-bottom: 15px;
}
.action-text p{
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}
.action-image{
    flex: 1;
    min-width: 300px;
    text-align: center;
    
}
.action-image img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}


.stats-banner{
    background-color: #eaefff;
    border-radius: 24px;
    padding: 80px 60px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
.stats-banner h2{
    margin-bottom: 30px;
    color: #252432;
    font-size: 24px;
}
.stats-container{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.stat h1{
    font-size: 80px;
    font-weight: bold;
    color: #3b46f0;
    margin: 0;
}
.stat p{
    margin-top: 8px;
    color: #000000;
    font-size: 15px;
}


.reviews-section{
    padding: 60px 20px;
    text-align: center;
}

.reviews-section h2{
    font-size: 42px;
    margin-bottom: 40px;
    color: #252432;
}
.reviews-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.review-card{
    background-color: #F2EDED;
    border-radius: 16px;
    padding: 24px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    text-align: left;
}

.stars{
    color:#FFB805;
    font-size: 18px;
    margin-bottom: 20px;
}

.review-card h3{
    margin: 0;
    font-size: 18px;
    color: #1E1E1E;
}

.review-card p{
    font-size: 14px;
    color: #1E1E1E;
    margin: 10px 0 20px;
}

.reviewer-info{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #757575;
    font-size: 12px;
}
.reviewer-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reviewer-info .date{
    font-size:10px ;
    color: #B3B3B3;
}


.container{
    display: flex;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    gap: 60px;
}

.left-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section h1{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    line-height: 1.2;
}
.right-section{
    flex: 1;
}
textarea{
    font-family: inherit;
    font-size: 16px;
}
form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 6px;
    font-weight: 500;
}
input ,textarea{
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
button{
    padding: 12px;
    background-color: #4f46e5;
    color: white;
    border-radius: 8px;
    font-size: 16px;
}
button:hover{
    background-color: #4f46e5;
}


.footer{
    padding: 60px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.logo-footer{
    font-size: 60px;
    color: #4E47FF;
    margin: 0;
    font-weight: 800;
    letter-spacing: 2px;
}
.subtitle{
    font-size: 16px;
    color: #8987A1;
    margin: 20px 0 40px;
    line-height: 1.5;
}
.nav-links{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    font-size: 16px;
    color: #666;
}
.nav-links a:hover{
    color: #4f46e5;
}